dist: trusty
sudo: false  # Use the new travis docker based infrastructure

git:
  # We need a deeper depth for 'git descibe' to ensure
  # we can reach the last tagged version.
depth: 99999

language: python
python:
  - "3.6"

# Install required packages
addons:
  postgresql: '10'
  services:
      - postgresql
  apt:
    sources:
      - sourceline: ppa:nextgis/ppa
    packages:
      - gdal-bin
      - gdal-data
      - libgdal-dev
      - libgdal20
      - libudunits2-0
      - postgresql-10-postgis-2.5

before_install:
  # Set paths for building python-gdal
  - export CPLUS_INCLUDE_PATH=/usr/include/gdal
  - export C_INCLUDE_PATH=/usr/include/gdal
  - export GDAL_DATA="$(gdal-config --datadir)"
  - pip install --upgrade pip
  - pip install --progress-bar off coveralls codecov
  # Install pygdal bindings compatible with dpkg based gdal libs
  - pip install pygdal>="$(gdal-config --version)"
  - pip install --progress-bar off --requirement requirements-test.txt